ReportGenerator/Utilities/RequestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="requests">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="request">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="clientId">
                <xs:simpleType>
                  <xs:restriction base ="xs:string">
                    <xs:maxLength value="6"/>
                    <xs:pattern value="^[\p{L}0-9]*$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="requestId">
                <xs:simpleType>
                  <xs:restriction base ="xs:long"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base ="xs:string">
                    <xs:maxLength value="255"/>
                    <xs:pattern value="^[\p{L}0-9 ]*$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="quantity">
                <xs:simpleType>
                  <xs:restriction base ="xs:integer"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="price">
                <xs:simpleType>
                  <xs:restriction base ="xs:decimal">
                    <xs:minInclusive value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>